<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeLoZtYVZFAKa2v5QLpHx72q-1GcuRkz8</string>
	<key>GCM_SENDER_ID</key>
	<string>153066172695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.novagame.app</string>
	<key>PROJECT_ID</key>
	<string>nova-53447</string>
	<key>STORAGE_BUCKET</key>
	<string>nova-53447.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153066172695:ios:6c2d5a5fc6b9d504f54752</string>
</dict>
</plist>